body {
    /* fonte do texto*/
    font-family: Arial, sans-serif; 
    /*cor da página*/
    background-color: grey;
    /*usa modelo de caixa para posicionamento*/
    display: flex;
    justify-content: center; /*centraliza na horizontal*/
    height: 100vh; /* altura da página 100% da altura da página*/
    align-items: center; /*centraliza na vertical*/

}
.container {
    background-color: darkgrey;
    padding:  20px; /*espaçamento interno*/
    border-radius: 10px; /*borda*/
    text-align: center; /*texto alinhado no centro*/
    box-shadow: 0 4px 8px; /*sombra na borda*/
}
button{

background-color: darkslategrey;
color: white;
border: 0 4px 8px;
padding: 10px 20px; /*10 abaixo e acima e 20 esquerda e direita*/
border-radius: 10px;
}
/*ao passar o mouse em cima do botão*/
button:hover {
    background-color: rgba(0, 0, 0, 0.329)

}

.Foto {
    /*borda com cantos arredondados*/
    border-radius:  25%;
    /*largura*/
    width: 150px;
    /*altura*/
    height: 150px;
    /*espaçamento externo abaixo*/
    margin-bottom: 10px;
}